@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.heading {
	margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font_titles !important;
	font-weight: bold;
	text-align: inherit;
	position: relative;
	color: $color_black;
	letter-spacing: -0.01em;
}
a {
	color: $color_brand;
	&:hover {
		color: $color_brand;
	}
}

h1 {
	@include fluid-type($font_size_h1_mobile, $font_size_h1);
	line-height: 1.2;
	letter-spacing: -0.02em;
	@include sm_screen() {
		line-height: 1.15 !important;
	}
}

h2 {
	@include fluid-type($font_size_h2_mobile, $font_size_h2);
	line-height: 1.15;
	letter-spacing: -0.02em;
}

h3 {
	@include fluid-type($font_size_h3_mobile, $font_size_h3);
	line-height: 1.1;
}

h4 {
	@include fluid-type($font_size_h4_mobile, $font_size_h4);
	line-height: 1.35;
}

h5 {
	@include fluid-type($font_size_h5_mobile, $font_size_h5);
	line-height: 1.5;
}

h6 {
	@include fluid-type($font_size_h6_mobile, $font_size_h6);
	line-height: 1.5;
	letter-spacing: 0;
}

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

p {
	width: 100%;
	margin: 0 auto;
	display: block;
	color: $color_text;
	line-height: 1.6;
}

.headline {
  color: rgb(175, 172, 189) !important;
}

.subheadline {
  color: rgb(131, 40, 230);
}

.thin {
  /* Montserrat Thin = 100 */
  font-weight: 100;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.extralight {
  /* Montserrat Extra Light = 200 */
  font-weight: 200;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.light {
  /* Montserrat Light = 300 */
  font-weight: 300;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.regular {
  /* Montserrat Regular = 400 */
  font-weight: 400;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
  /* Montserrat Medium = 500 */
  font-weight: 500;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.semibold {
  /* Montserrat Semi-bold = 600 */
  font-weight: 600;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.bold {
  /* Montserrat Bold = 700 */
  font-weight: 700;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.extrabold {
  /* Montserrat Extra Bold = 800 */
  font-weight: 800;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.black {
  /* Montserrat Black = 900 */
  font-weight: 900;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}