.market-image {
  h1,
  h3,
  h4,
  p {
    color: white;
  }
  background-image: url('https://media-private.canva.com/MADm6S0QeGk/1/screen_3x.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20220802%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220802T174518Z&X-Amz-Expires=64608&X-Amz-Signature=827c883fe185669997b53b5051a1982e44d34e0ae0065d2e21cb772ade480d50&X-Amz-SignedHeaders=host&response-expires=Wed%2C%2003%20Aug%202022%2011%3A42%3A06%20GMT');
  height: 40rem;
}
