.project-details {
  h1, h3, h4, p {
    color: white;
  }
  .head {
    text-decoration-line: underline;
  }
  background-image: url("/img/bg/pointing.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;


}