.project-details {
  h1, h3, h4, p {
    color: white;
  }
  .head {
    text-decoration-line: underline;
  }
  background-image: url("https://media-private.canva.com/o41_c/MAFDeyo41_c/1/s3.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20220803%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220803T042504Z&X-Amz-Expires=28959&X-Amz-Signature=ee8de9022fe6df992c7f575d92e91727f9ffc91af5d529013ed359c36d6200bb&X-Amz-SignedHeaders=host&response-expires=Wed%2C%2003%20Aug%202022%2012%3A27%3A43%20GMT");
}