.royalties {
  img {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 6rem;
  }
  h4 {
    color: black;
  }
  p {
    color: rgb(175, 172, 189);
  }
}